<div *ngIf="monthlyGoal" class="p-4 rounded-lg flex flex-col gap-2">
    <div class="flex justify-between">
        <span class="inline-block text-red-700 font-bold">{{ monthlyGoal.deadline }}</span>
        <span class="inline-block rounded-lg p-2 italic" [class]="getPriorityStyleClass(monthlyGoal.priority)">{{
            monthlyGoal.priority |
            titlecase }}</span>
    </div>
    <h2 class="text-center m-4 sm:text-2xl md:text-3xl lg:text-3xl xl:text-4xl">{{ monthlyGoal.title | uppercase }}
    </h2>
    <p class="text-sm">{{ monthlyGoal.description }}</p>
    <span>{{ monthlyGoal.progress * 10 }}%</span>

    <mat-progress-bar mode="determinate" [value]=" monthlyGoal.progress * 10"></mat-progress-bar>
</div>