<div
  *ngIf="dailyGoal"
  class="p-2 rounded-lg flex flex-col justify-between gap-2 h-full cursor-pointer"
  id="goal-card"
>
  <div class="flex justify-between">
    <span
      class="inline-block rounded-lg p-2 italic"
      [class]="getStatusStyleClass(dailyGoal.status)"
      >{{ dailyGoal.status | uppercase }}</span
    >
    <span class="inline-block text-red-700">{{ dailyGoal.deadline }}</span>
  </div>
  <span
    class="sm:text-sm md:text-sm lg:text-sm xl:text-sm hover:underline hover:text-blue-500"
    [routerLink]="['/weeklyGoal', dailyGoal.id]"
  >
    {{ dailyGoal.title | titlecase }}
  </span>

  
  <div class="flex justify-between">
    <p class="text-sm text-gray-600 ">{{ dailyGoal.description }}</p>
    <!-- <span class="inline-block">{{ dailyGoal.progress * 10 }}%</span> -->
    <div class="flex justify-between gap-2 self-end ml-auto" id="goal-options">
      <mat-icon
        (click)="showEditModal()"
        class="text-blue-500 cursor-pointer"
        title="Edit"
        aria-hidden="false"
        aria-label="edit icon"
        fontIcon="edit"
      ></mat-icon>
      <mat-icon
        class="text-red-500 cursor-pointer"
        title="Delete"
        aria-hidden="false"
        aria-label="delete icon"
        fontIcon="delete"
        (click)="deleteGoal(dailyGoal.id)"
      ></mat-icon>
    </div>
  </div>
</div>
